<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STACK LIBRARY</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <main>
        <img src="../static/img/newLogo.png" alt="logo">
        <h3 class="desc">AI가 추천해주는 소설 책</h3>
        <form action="/form" method="get" class="form">
            <button type="submit" class="btn">
                START
            </button>
        </form>
    </main>
</body>
</html>